/********************** start header style ********************/
.header{
    background-color: #F4EEFA;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    font-size: 15px;
    color: #B479D9;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
}
.header i{
    position: absolute;
    right: 18px;
}
/********************** start navbar style ********************/
.navbar{
    height: 99px;
    padding: 15px 30px ;
}
.navbar .menu .active{
    color: #2EBB77;
}
.navbar .menu li{
    list-style: none;
    padding-left: 28px;
}
.navbar .menu .fristli{
    padding-left: 0;
}
.navbar .menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar .icons a{
    color: black;
    padding-left: 28px;
}
.navbar .icons button{
    border:1px solid #EEEEEE;
    background-color: white;
    padding: 8px 25px;
    border-radius: 12px;
    font-weight: bold;
    margin-left: 28px;
}
/********************** start hero section style ********************/
.hero .imgContainer img{
    width: 690px;
    height: 802.55px;
}
